*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom,#009688 15vh, #DADBD3 15vh);
}
.container_{
    width: 1500px;
    margin: 25px auto;
}
.left{
    width: 35%;
}
.right{
    width: 65%;
}
.left .header,
.right .header{
    background-color: #eaeaea;
    height: 75px;
}
.banner{
    background-color: #8EDAFC;
    height: 75px;
}
.bg_white{
    background-color: #fff;
}
.avatar{
    border-radius: 50%;
    height: 60px
}
.chat-container{
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 200px);
}
.message-sent{
    background-color: #D5F9BA;

}
.message-received{
    background-color: #fff;
}
.chat-bar{
    height: 75px;
    background-color: #F3EEEA;
}
.icon{
    font-size: x-large;
}
.fsize-l{
    font-size: large;
}
.white-circle{
    background: #fff;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center
}
.bell_{
    font-size: 19px;
    color: #8EDAFC
}
.fsize-m{
    font-size: 14px;
}